<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kpp.member.mapper.BlogBuyMapper">

    <!-- 开启二级缓存 -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kpp.member.beans.BlogBuy">
        <id column="buy_id" property="buyId" />
        <result column="blog_ident" property="blogIdent" />
        <result column="mem_ident" property="memIdent" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        buy_id, blog_ident, mem_ident, create_time
    </sql>

</mapper>
