<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kpp.comment.mapper.CommentMapper">

    <!-- 开启二级缓存 -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kpp.comment.beans.Comment">
        <id column="comment_id" property="commentId" />
        <result column="comment_ident" property="commentIdent" />
        <result column="mem_ident" property="memIdent" />
        <result column="mem_nick" property="memNick" />
        <result column="blog_ident" property="blogIdent" />
        <result column="comment_text" property="commentText" />
        <result column="reply_text" property="replyText" />
        <result column="create_time" property="createTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, comment_ident, mem_ident, mem_nick, blog_ident, comment_text, reply_text, create_time, is_del
    </sql>

</mapper>
