<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kpp.integralRecharge.mapper.IntegralRechargeMapper">

    <!-- 开启二级缓存 -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kpp.integralRecharge.beans.IntegralRecharge">
        <id column="recharge_id" property="rechargeId" />
        <result column="recharge_ident" property="rechargeIdent" />
        <result column="recharge_state" property="rechargeState" />
        <result column="mem_ident" property="memIdent" />
        <result column="before_integral" property="beforeIntegral" />
        <result column="pay_money" property="payMoney" />
        <result column="after_integral" property="afterIntegral" />
        <result column="create_time" property="createTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        recharge_id, recharge_ident, recharge_state, mem_ident, before_integral, pay_money, after_integral, create_time, is_del
    </sql>

</mapper>
